*{
   padding:0;
   margin:0;
   box-sizing:border-box;
}
  
h1  {text-align:center;}
	a{text-decoration:none;
	  color:#ffa500;
	  margin-left:200px;
	}
	
h2{text-align:center;}
	p{text-indent:50px;
	  line-height:1.5;
	  text-align:justify;
	  word-spacing:7px;
	  letter-spacing:2px;
	  text-transform:capitalize;
	}
	
	.font{font-size:12px;
	font-weight:900;
	font-family:arial;
	font-style:itlic;
	}
	
	.color p{color:rgb(100,150,150);}
	    i{margin-left:500px;
		    color:rgba(10,10,10,0.6);
		}




	